<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
    <th:block th:include="layout/template :: head"/>

    <link rel="stylesheet" th:href="@{/css/auctions/listAuctionsStyle.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap"
          rel="stylesheet">

    <script th:src="@{/plugin/country-flags/script.js}"></script>

    <style th:include="layout/loader :: style"></style>
    <style th:include="layout/template :: style"></style>

    <title>Mis subastas - Keibuy</title>
</head>

<body id="body-pd" class="bg-light vh-100">
<th:block th:include="layout/template :: dependencies-js"/>
<th:block th:include="layout/navbar :: navbar"/>
<!--Container Main start-->
<div class="h-100 bg-light">
    <section>
        <h3 class="text-center fw-bold shadow-sm pb-2">Mis subastas</h3>
        <div class="container-fluid">
            <div
                    class="bg-white rounded d-flex align-items-center justify-content-between ps-2 shadow-sm"
                    id="header"
            >
                <button
                        class="btn btn-hide text-uppercase"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#filterbar"
                        aria-expanded="true"
                        aria-controls="filterbar"
                        id="filter-btn"
                >
                    <span class="fas fa-angle-left" id="filter-angle"></span>
                    <span id="btn-txt" class="">Hide filters</span>
                </button>
                <div class="ms-auto mt-3 me-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination p-top">
                            <li th:if="${currentPage > 1}" class="page-item">
                                <a
                                        href="#!"
                                        th:href="@{${'/myauctions/'+(currentPage - 1)}}"
                                        class="page-link"
                                >
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <th:block th:each="page: ${#numbers.sequence(minViewPage, maxViewPage)}">
                            <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}">
                                <a class="page-link" th:href="@{${'/myauctions/'+page}}" th:text="${page}"></a>
                            </li>
                            </th:block>
                            <li th:if="${currentPage < totalPages}" class="page-item">
                                <a
                                        href="#!"
                                        th:href="@{${'/myauctions/'+(currentPage+1)}}"
                                        class="page-link"
                                >
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="content" class="my-3">
                <form id="offerForm" th:action="@{'/myauctions'}" method="post">
                    <div id="filterbar" class="collapse show me-4 mb-4">
                        <div class="box border-bottom">
                            <div class="form-group text-center">
                                <div class="btn-group" data-bs-toggle="buttons">
                                    <a th:href="@{'/myauctions/reset'}"><button type="button" class="btn btn-filter form-check-label p-2">
                                        Reset
                                    </button></a>
                                    <button type="submit"
                                            class="btn btn-filter btn-apply form-check-label active p-2"
                                    >
                                        Apply
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">
                                <!-- Select Order -->
                                Sort By
                                <div class="m-auto">
                                    <select id="sort" class="form-select"  th:value="${a1}" name="a1">
                                        <option value="most_recent" th:selected="${sortByFilter == 'most_recent'}" >most recent</option>
                                        <option value="less_recent" th:selected="${sortByFilter == 'less_recent'}">less recent</option>
                                        <option value="highest_offer" th:selected="${sortByFilter == 'highest_offer'}">highest offer</option>
                                        <option value="lower_offer" th:selected="${sortByFilter == 'lower_offer'}">lowest offer</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="box border-bottom">
                            <div class="box-label text-uppercase d-flex align-items-center">
                                State
                                <button
                                        class="btn ms-auto"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#inner-box0"
                                        aria-expanded="true"
                                        aria-controls="inner-box0"
                                >
                                    <span class="fas fa-plus"></span>
                                </button>
                            </div>
                            <div id="inner-box0" class="collapse show mt-2 me-1">
                                <div class="my-1">
                                    <label class="tick">
                                        Started <input type="checkbox"  th:value="1" name="b1" th:checked="${startedFilter}"/><span class="check"></span>
                                    </label>
                                </div>
                                <div class="my-1">
                                    <label class="tick">
                                        Not started <input type="checkbox"  value="1" name="b2" th:checked="${notStartedFilter}"/><span
                                            class="check"
                                    ></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-label text-uppercase d-flex align-items-center">
                                Payment type
                                <button
                                        class="btn ms-auto"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#inner-box2"
                                        aria-expanded="true"
                                        aria-controls="inner-box2"
                                >
                                    <span class="fas fa-plus"></span>
                                </button>
                            </div>
                            <div id="inner-box2" class="collapse show mt-2 me-1">
                                <div class="my-1">
                                    <label class="tick">
                                        Virtual payment <input type="checkbox"  th:value="1" name="c1"  th:checked="${virtualPaymentFilter}"/><span
                                            class="check"
                                    ></span>
                                    </label>
                                </div>
                                <div class="my-1">
                                    <label class="tick">
                                        Physical payment <input type="checkbox"  th:value="1" name="c2"  th:checked="${physicalPaymentFilter}"/><span
                                            class="check"
                                    ></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="products" class="px-0">

                    <div class="row mx-0 px-0">

                        <th:block th:each="item : ${listItems}">
                            <div class="col-lg-3 col-md-6 mb-3 pe-0 item-div"
                                 th:attr="onclick=|window.location.href = ('item/'+${item.getId()})|">
                                <div class="card d-flex flex-column align-items-center"
                                     th:classappend="${!item.isEnabled() ? 'not-started' : ''}">
                                    <div class="product-name" th:text="${item.getName()}"></div>

                                    <div class="carousel slide carousel-fade" data-bs-ride="carousel"
                                         data-bs-interval="5000">
                                        <div class="carousel-inner">
                                            <th:block th:each="itemImage,i : ${item.getItemImages()}">
                                                <th:block th:if="${itemImage != null}">
                                                    <div class="carousel-item card-img"
                                                         th:classappend="${(i.index == 0 ? 'active' : '')}">
                                                        <img th:src="@{${itemImage.getId() != 0 ? '/image/item/'+ itemImage.getId() : '...'}}"
                                                             class="d-block w-100 deny-drag" alt="...">
                                                    </div>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">

                                        <th:block th:if="${item.isEnabled()}">
                                            <div class="mt-1">
                                                <small class="text-colored"
                                                ><i class="fa-solid fa-user"></i>
                                                    <b>Participantes:</b> </small
                                                ><small th:text="${item.getParticipants().size()}">0</small>
                                            </div>
                                            <div class="mt-1">
                                                <th:block th:if="${item.getMostOffer() != null}">
                                                    <small class="text-colored"
                                                    ><i class="fa-solid fa-sack-dollar"></i>
                                                        <b>Ultima oferta:</b></small
                                                    ><br/>
                                                    <small th:text="'&nbsp&nbsp&nbsp ' + ${item.getMostOffer().getOffer()} + '$'">&nbsp&nbsp&nbsp
                                                        0$</small>
                                                </th:block>
                                                <th:block th:unless="${item.getMostOffer() != null}">
                                                    <small class="text-colored"
                                                    ><i class="fa-solid fa-sack-dollar"></i>
                                                        <b>Oferta inicial:</b></small
                                                    ><br/>
                                                    <small th:text="'&nbsp&nbsp&nbsp ' + ${item.getStartPrice()} + '$'">&nbsp&nbsp&nbsp
                                                        0$</small>
                                                </th:block>
                                            </div>
                                            <div class="mt-1">
                                                <small class="text-colored"
                                                ><i class="fa-solid fa-hourglass-start"></i>
                                                    <b>Termina en:</b></small
                                                ><br/>
                                                <span class="finish-time d-none"
                                                      th:text="${item.getFinishDate().getTime()}"></span>
                                                <small th:text="'&nbsp&nbsp&nbsp ' + ${item.getTimeToFinish()}">&nbsp&nbsp&nbsp
                                                    0s</small>

                                            </div>
                                        </th:block>
                                        <th:block th:if="${!item.isEnabled() && !item.isFinalized()}">
                                            <div class="mt-1">
                                                <small class="text-colored"
                                                ><i class="fa-solid fa-sack-dollar"></i>
                                                    <b>Oferta Inicial:</b></small
                                                ><br/>
                                                <small th:text="'&nbsp&nbsp&nbsp ' + ${item.getStartPrice()} + '$'">&nbsp&nbsp&nbsp
                                                    0$</small>
                                            </div>
                                            <div class="mt-1">
                                                <small class="text-colored"
                                                ><i class="fa-solid fa-calendar"></i>
                                                    <b>Inicia en:</b></small
                                                ><br/>
                                                <span class="start-time d-none"
                                                      th:text="${item.getStartDate().getTime()}"></span>
                                                <small class="start-cooldown"
                                                       th:text="'&nbsp&nbsp&nbsp ' + ${item.getTimeToStart()}">&nbsp&nbsp&nbsp
                                                    0s</small>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${item.isFinalized()}">
                                            <div class="mt-1">
                                                <small class="text-colored"
                                                ><i class="fa-solid fa-sack-dollar"></i>
                                                    <b>Última oferta:</b></small
                                                ><br/>
                                                <small th:text="'&nbsp&nbsp&nbsp ' + ${item.getMostOffer().getOffer()} + '$'"></small>
                                            </div>
                                            <div class="mt-1">
                                                <small class="text-colored"
                                                ><i class="fa-solid fa-calendar"></i>
                                                    <b>Finalizado</b></small
                                                ><br/>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="clearfix text-center d-flex justify-content-center">
                <ul class="pagination m-0 mb-3  bg-light rounded-4 shadow-sm py-1">
                    <li th:if="${currentPage > 1}" class="page-item">
                        <a
                                href="#!"
                                th:href="@{${'/myauctions/'+(currentPage - 1)}}"
                                class="page-link"
                        >
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <th:block th:each="page: ${#numbers.sequence(minViewPage, maxViewPage)}">
                        <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}">
                            <a class="page-link" th:href="@{${'/myauctions/'+page}}" th:text="${page}"></a>
                        </li>
                    </th:block>

                    <li th:if="${currentPage < totalPages}" class="page-item">
                        <a
                                href="#!"
                                th:href="@{${'/myauctions/'+(currentPage+1)}}"
                                class="page-link"
                        >
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<!--Container Main end-->

<script>

    function formatTime(ms) {
        const days = Math.floor(ms / (24 * 60 * 60 * 1000));
        const daysms = ms % (24 * 60 * 60 * 1000);
        const hours = Math.floor(daysms / (60 * 60 * 1000));
        const hoursms = ms % (60 * 60 * 1000);
        const minutes = Math.floor(hoursms / (60 * 1000));
        const minutesms = ms % (60 * 1000);
        const sec = Math.floor(minutesms / 1000);


        let daysString = (days < 10 ? '0' : '') + days;
        let hoursString = (hours < 10 ? '0' : '') + hours;
        let minutesString = (minutes < 10 ? '0' : '') + minutes;
        let secondsString = (sec < 10 ? '0' : '') + sec;

        if (days > 0)
            return daysString + "d " + hoursString + "h " + minutesString + "m " + secondsString + "s";
        else if (hours > 0)
            return hoursString + "h " + minutesString + "m " + secondsString + "s";
        else if (minutes > 0)
            return minutesString + "m " + secondsString + "s";
        else
            return secondsString + "s";
    }

    function refreshCooldowns() {
        let startTimes = document.getElementsByClassName('start-time');
        let currentDate = new Date();
        for (let time of startTimes) {
            let startTime = parseInt(time.innerHTML);
            let parent = time.parentElement;
            let listCooldowns = parent.getElementsByClassName('start-cooldown');

            let distance = startTime - currentDate.getTime();
            for (let cooldown of listCooldowns) {
                cooldown.innerHTML = '&nbsp&nbsp&nbsp ' + formatTime(distance);
            }

            if (distance < 0) {
                parent.parentElement.parentElement.parentElement.classList.remove("not-started");
            }
        }

        let finishTimes = document.getElementsByClassName('finish-time');
        for (let time of finishTimes) {
            let finishTime = parseInt(time.innerHTML);
            let parent = time.parentElement;
            let listCooldowns = parent.getElementsByClassName('finish-cooldown');

            for (let cooldown of listCooldowns) {
                cooldown.innerHTML = '&nbsp&nbsp&nbsp ' + formatTime(finishTime - currentDate.getTime());
            }
        }
    }

    let timerId = setInterval(() => refreshCooldowns(), 1000);
</script>

<th:block th:insert="layout/btnBackToTop :: btn"/>
<script th:src="@{/js/scriptBtnBackToTop.js}"></script>
<script th:src="@{/js/auctions/listAuctionsScript.js}"></script>
</body>
</html>