<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
    <th:block th:include="layout/template :: head"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap"
          rel="stylesheet">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <style th:include="layout/loader :: style"></style>
    <style>
        #description-result {
            width: 100%;
            text-align: right;
            margin-top: -30px;
            padding-right: 10px;
            color: #737373;
            user-select: none;
        }
    </style>
</head>


<head>
    <title>Item - KeiBuy</title>
    <th:block th:include="layout/template :: head"/>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap"
            rel="stylesheet">

    <style th:include="layout/loader :: style"></style>
    <style th:include="layout/template :: style"></style>
</head>
<body id="body-pd" class="bg-light vh-100">
<th:block th:include="layout/template :: dependencies-js"/>
<th:block th:include="layout/loader :: loader"/>
<th:block th:include="layout/navbar :: navbar"/>
<!--aca arranca el codigo-->


<div class="container-sm h-75 col-xxl-5">
    <div class="row justify-content-sm-center h-100">
        <div class="m-auto">
            <div class="card shadow-lg">
                <div class="card-body px-5">
                    <h1 class="fs-4 card-title fw-bold mb-4 text-center">Nueva subasta</h1>
                    <form id="register-form" class="needs-validation"
                          th:action="@{/auctions/new}" th:object="${itemDto}" method="post"
                          enctype="multipart/form-data">


                        <div class="row justify-content-center">
                            <div class="mb-3 col-10 form-group">
                                <label class="mb-2 text-muted text-center" for="name">Nombre de producto</label>
                                <input id="name" type="text" class="form-control" th:field="*{name}" required
                                       autofocus>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}"></small>
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <div class="mb-3 col-5">
                                <label class="mb-2 text-muted" for="startPrice">Monto inicial</label>
                                <input id="startPrice" type="number" min="1" class="form-control"
                                       th:field="*{startPrice}" required th:value="1">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('startPrice')}"
                                       th:errors="*{startPrice}"></small>
                            </div>

                            <div class="mb-3 col-5">
                                <label class="mb-2 text-muted" for="minNextOffer">minimo entre oferta</label>
                                <input id="minNextOffer" type="number" class="form-control" th:field="*{minNextOffer}"
                                       required th:value="1"
                                >
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('minNextOffer')}"
                                       th:errors="*{minNextOffer}"></small>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="mb-3 col-10">
                                <label class="mb-2 text-muted" for="description">Detalles del producto</label>
                                <textarea id="description" type="text" class="form-control" th:field="*{description}"
                                          required></textarea>
                                <p id="description-result">0/255</p>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}"
                                       th:errors="*{description}"></small>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="mb-3 col-5">
                                <label class="mb-2 text-muted" for="startDate">Fecha de Inicio</label>
                                <input id="startDate" type="date" class="form-control" th:field="*{startDate}" value=""
                                       required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('startDate')}"
                                       th:errors="*{startDate}"></small>
                            </div>

                            <div class="mb-3 col-5">
                                <label class="mb-2 text-muted" for="finishDate">Fecha de finalización</label>
                                <input id="finishDate" type="date" class="form-control" th:field="*{finishDate}"
                                       value=""
                                       required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('finishDate')}"
                                       th:errors="*{finishDate}"></small>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="mb-3 col-10">
                                <label class="mb-2 text-muted" for="formFile">Imagenes</label>
                                <input type="file" class="form-control form-control" name="files"
                                       id="formFile" accept="image/*" multiple/>
                            </div>
                        </div>

                        <div class="row justify-content-center text-center">
                            <div class="mb-3 col-10">
                                <label class="mb-2 text-muted me-2">Tipo de pago aceptado</label>
                                <div class="d-flex justify-content-center">
                                    <div class="form-check form-check-inline">
                                        <input id="physicalPayment" class="form-check-input" type="checkbox"
                                               value="option1" th:field="*{physicalPayment}">
                                        <label class="form-check-label" for="physicalPayment">Physical</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="virtualPayment"
                                               value="option2" th:field="*{virtualPayment}">
                                        <label class="form-check-label" for="virtualPayment">Virtual</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <button type="submit" class="btn btn-primary mx-1">Publicar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const formFile = $("#formFile");
    formFile.on("change", function (e) {
        if (formFile[0].files.length > 4) {
            alert("No puedes subir más de 4 imágenes");
            formFile.val(null);
        }
    });
</script>

<script>
    var myText = $("#description");
    var result = $("#description-result");
    var limit = 2000;
    result[0].textContent = 0 + "/" + limit;

    myText[0].addEventListener("input", function () {
        var textLength = myText[0].value.length;
        result[0].textContent = textLength + "/" + limit;

        if (textLength > limit) {
            myText.addClass("is-invalid");
            myText.addClass("mb-0");
            result[0].style.color = "#ff2851";
        } else {
            if (myText.hasClass("is-invalid"))
                myText.removeClass("is-invalid");
            if (myText.hasClass("mb-0"))
                myText.removeClass("mb-0");
            result[0].style.color = "#737373";
        }
    });
</script>

<script>
    Date.prototype.addDays = function (days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    var minStartDay = new Date();
    minStartDay = minStartDay.addDays(1);
    var dd = minStartDay.getDate();
    var mm = minStartDay.getMonth() + 1; //January is 0!
    var yyyy = minStartDay.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    minStartDay = yyyy + '-' + mm + '-' + dd;


    const startDateInput = document.getElementById("startDate");
    startDateInput.setAttribute("min", minStartDay);


    const finishDateInput = document.getElementById("finishDate");
    finishDateInput.setAttribute("disabled", "");

    startDateInput.addEventListener("change", function () {
        if (startDateInput.value === "")
            finishDateInput.setAttribute("disabled", "");
        else {
            finishDateInput.removeAttribute("disabled");
            finishDateInput.value = "";
        }

    });

    finishDateInput.addEventListener("change", function () {
        var minFinishDate = minStartDay.addDays(14);
        var maxFinishDate = minFinishDate.addDays(30);
        finishDateInput.setAttribute("min", minFinishDate)
        finishDateInput.setAttribute("max", maxFinishDate)
    });

    function getMinFinishDate(minStartDate) {
        let min = new Date();
        if(minStartDate != null)
    }
</script>

<!--aca aabca el codigo-->
<th:block th:insert="layout/btnBackToTop :: btn"/>
<script th:src="@{/js/scriptBtnBackToTop.js}"></script>
<script th:src="@{/js/scriptLoader.js}"></script>
<th:block th:include="layout/btnLanguage :: btnLang"/>
</body>


</html>