@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f4f4f4;
}

.col-lg-4,
.col-md-6 {
    padding-right: 0;
}
button.btn.btn-hide {
    height: inherit;
    background-color: #404eed;
    color: #fff;
    font-size: 0.82rem;
    padding-left: 40px;
    padding-right: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn:focus {
    box-shadow: none;
}
.box-label .btn {
    background-color: #fff;
    padding: 0;
    font-size: 0.8rem;
}
.btn-red {
    background-color: #e00000ce;
}
.btn-orange {
    background-color: #3645e6;
}
.btn-pink {
    background-color: #e0009dce;
}
.btn-green {
    background-color: #00811c;
}
.btn-blue {
    background-color: #026bc2;
}
.btn-brown {
    background-color: #994a00;
}
.navbar {
    display: inline-flex;
}
.pagination .page-item .page-link {
    background:none;
    color: #333;
    border: none;
    width: 40px;
    text-align: center;
}
.pagination .page-item.active .page-link {
    background: none;
    border: 1px solid #333;
}

#filterbar {
    width: 24%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    float: left;
}

#filterbar .btn.btn-filter {
    background-color: #ddd;
    color: #333;
    border: none;
    width: 115px;
}

#filter-btn {
    color: #fff;
    background-color: #404eed;
}
#filter-btn:hover {
    background-color: #4a58f1;
}


#filterbar .btn-apply:not(:disabled):not(.disabled).active,
#filterbar .btn-apply:not(:disabled):not(.disabled):active {
    background-color: #404eed;
    color: #fff;
}
label {
    cursor: pointer;
}
.tick {
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0;
}
.tick input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.check {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.tick:hover input ~ .check {
    background-color: #f3f3f3;
}
.tick input:checked ~ .check {
    background-color: #ffffff;
}
.check:after {
    content: "";
    position: absolute;
    display: none;
}
.tick input:checked ~ .check:after {
    display: block;
    transform: rotate(45deg) scale(1);
}
.tick .check:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) scale(2);
}
.box {
    padding: 10px;
}
.box-label {
    color: #11698e;
    font-size: 0.9rem;
    font-weight: 800;
}
#inner-box {
    height: 340px;
}

#inner-box {
    overflow-y: scroll;
}

#inner-box::-webkit-scrollbar {
    width: 6px;
}
#inner-box::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 2px;
}
#inner-box::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 2px;
}
#price {
    height: 45px;
}
#size input[type="checkbox"] {
    visibility: hidden;
}
#size input[type="checkbox"]:checked {
    border: none;
}
#size .btn.btn-filter {
    background-color: #ddd;
    color: #333;
    border: none;
    width: 40px;
    font-size: 0.8rem;
    border-radius: 0;
}
#size .btn.btn-filter:hover {
    background-color: #aff1e1;
    color: #444;
}
#size .btn-filter:not(:disabled):not(.disabled).active,
#size .btn-filter:not(:disabled):not(.disabled):active {
    color: #fff;
}
#size label {
    margin: 10px;
    margin-left: 0px;
}
.card {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    height: 390px;
    overflow: auto;
}

.card:hover {
    box-shadow: 2px 2px 15px #404eed;
    transform: scale(1.02);
}

.card:hover .text-colored, .card:hover .product-name {
    color: #404eed;
}

.card.not-started:hover {
    box-shadow: 2px 2px 15px #000000;
    transform: scale(1.02);
}

.card.not-started:hover .text-colored, .card.not-started:hover .product-name {
    color: #000000;
}



.text-colored {
    width: 100%;
}

.card .product-name {
    font-weight: 600;
    height: 45px;
    max-height: 45px;
    max-width: 100%;
    overflow: auto;
}
.card-body {
    padding-bottom: 0;
}
.card .text-muted {
    font-size: 0.82rem;
}
.card-img img {
    width: inherit;
    height: 180px;
    object-fit: contain;
    display: block;
}
.card-body .btn-group .btn {
    padding: 0;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    position: relative;
}
.card-body .btn-group > .btn-group:not(:last-child) > .btn,
.card-body .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 50%;
    transition: ease-in all 0.4s;
}
.card-body input[type="radio"] {
    visibility: hidden;
}
.card-body .btn:not(:disabled):not(.disabled).active::after,
.card-body .btn:not(:disabled):not(.disabled):active::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 4px;
    left: 4.2px;
    background-color: #fff;
    position: absolute;
    transition: ease-in all 0.4s;
}
.card-body .btn.btn-light:not(:disabled):not(.disabled).active::after,
.card-body .btn.btn-light:not(:disabled):not(.disabled):active::after {
    background-color: #000;
}
#avail-size input[type="checkbox"] {
    visibility: hidden;
}
#avail-size input[type="checkbox"]:checked {
    background-color: #404eed;
    border: none;
}
#avail-size .btn.btn-filter {
    background-color: #ddd;
    color: #333;
    border: none;
    width: 20px;
    font-size: 0.7rem;
    border-radius: 0;
    padding: 0;
}
#avail-size .btn.btn-filter:hover {
    background-color: #aff1e1;
    color: #444;
}
#avail-size .btn-filter:not(:disabled):not(.disabled).active,
#avail-size .btn-filter:not(:disabled):not(.disabled):active {
    background-color: #404eed;
    color: #fff;
}
#avail-size label {
    margin: 10px;
    margin-left: 0px;
}
#shirt {
    height: 170px;
}
.middle {
    position: relative;
    width: 100%;
    margin-top: 25px;
}

input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}
.del {
    text-decoration: line-through;
    color: red;
}
@media (min-width: 1199.6px) {
    #filterbar {
        width: 24%;
    }
}
@media (max-width: 1199.5px) {
    #filterbar {
        width: 28%;
    }

    .price {
        font-size: 0.9rem;
    }
    .product-name {
        font-size: 0.8rem;
    }
}
@media (max-width: 991.5px) {
    .navbar-nav {
        min-width: 290px;
        position: absolute;
        left: -168px;
        bottom: -146px;
        padding: 20px 10px;
        display: block;
        background-image: none;
        z-index: 2;
        background-color: #1d1c1cb2;
    }
    #filterbar {
        width: 36%;
    }

    .price {
        font-size: 0.85rem;
    }
}
@media (max-width: 767.5px) {
    #filterbar {
        width: 50%;
    }
}
@media (max-width: 525.5px) {
    #filterbar {
        float: none;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #content.my-5 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .col-lg-4,
    .col-md-6 {
        padding-left: 0;
    }
}
@media (max-width: 500.5px) {
    .pagination.p-top {
        display: none;
    }
}




::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}