<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <title>ProjectAuction</title>
    <meta charset="UTF-8"/>


    <!--Slick Carousel Slider-->
    <link rel="stylesheet" type="text/css" th:href="@{plugin/slick/slick-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{plugin/slick/slick.css}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/mdb-ui-kit-5.0.0/css/mdb.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/country-flags/style.css}"/>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6804272/781004/css/fonts.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">


    <style>
    :root {
        --primary-color: #404eed;

    }
    </style>

    <style th:include="layout/navbar :: style"></style>
    <style th:include="layout/btnLanguage :: style"></style>
</head>
<body>

<th:block th:fragment="dependencies-js">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/scriptBtnLang.js}"></script>
    <script th:src="@{/plugin/mdb-ui-kit-5.0.0/js/mdb.min.js}"></script>
    <script th:src="@{/plugin/mdb-ui-kit-5.0.0/js/mdb.min.js}"></script>
    <script th:src="@{plugin/slick/slick.min.js}"></script>
</th:block>

</div>
</body>
</html>