<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${item.getName()} + ' - KeiBuy'"></title>
    <th:block th:include="layout/template :: head"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap"
          rel="stylesheet">
    <style th:include="layout/loader :: style"></style>
    <style>
        @font-face {
            font-family: Arial !important;
            font-display: swap !important;
        }

        .thumbnail_images ul {
            list-style: none;
            justify-content: center;
            display: flex;
            align-items: center;
            margin-top: 10px;
            overflow: auto;
        }

    </style>
    <style>
        ::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        body {
            background-color: #ecedee
        }

        .card {
            border: none;
            overflow: hidden
        }

        .thumbnail_images ul {
            list-style: none;
            justify-content: center;
            display: flex;
            align-items: center;
            margin-top: 10px
        }

        .thumbnail_images ul li {
            margin: 5px;
            padding: 10px;
            border: 2px solid #eee;
            cursor: pointer;
            transition: all 0.5s
        }

        .thumbnail_images ul li:hover {
            border: 2px solid #000
        }

        .main_image {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #eee;
            height: 400px;
            width: 100%;
            overflow: hidden
        }

        .content p {
            font-size: 12px
        }

        .ratings span {
            font-size: 14px;
            margin-left: 12px
        }

        .colors ul {
            list-style: none;
            display: flex;
            padding-left: 0;
        }

        .colors ul li {
            height: 20px;
            width: 20px;
            display: flex;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer
        }

        .colors ul li:nth-child(1) {
            background-color: #6c704d
        }

        .colors ul li:nth-child(2) {
            background-color: #96918b
        }

        .colors ul li:nth-child(3) {
            background-color: #68778e
        }

        .colors ul li:nth-child(4) {
            background-color: #263f55
        }

        .colors ul li:nth-child(5) {
            background-color: black
        }

        .right-side {
            position: relative
        }

        @media (max-width: 767px) {
            #btnOffer {
                margin-bottom: 100px;
            }
        }

    </style>

    <!--    Table style-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');


        .participants-table thead {
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 16px;
            color: #666
        }

        .participants-image {
            width: 40px;
            height: 40px
        }

        .participants-name {
            display: inline-block
        }


        .participants-table tbody td:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px
        }

        .participants-table tbody td:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px
        }
    </style>
</head>

<body class="position-relative bg-light snippet-body" data-th-span="scroll"
      data-bs-target="#navbar-scrollspy">


<th:block th:include="layout/template :: dependencies-js"/>

<script th:src="@{/js/auctions/offerAuction.js}" th:inline="javascript"></script>
<th:block th:include="layout/loader :: loader"/>
<th:block th:include="layout/navbar :: navbar"/>



<!--Item-->
<div class="container-xl mt-5 mb-5 px-0">
    <div th:if="${success}" class="alert alert-success alert-dismissible mx-5" role="alert">
        <i class="fa-regular fa-thumbs-up"></i> <strong>Success! </strong><span>Your offer was successfully entered</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${accountNotFound}" class="alert alert-danger alert-dismissible mx-5" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> <strong>Error! </strong><span>Not found your account</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${alreadyIsMostOffer}" class="alert alert-danger alert-dismissible mx-5" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> <strong>Error! </strong><span>You already have the highest bid</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${lowerOffer}" class="alert alert-danger alert-dismissible mx-5" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> <strong>Error! </strong><span>Your offer is too low</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${itemNotFound}" class="alert alert-danger alert-dismissible mx-5" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> <strong>Error! </strong><span>Not found item</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>



    <div class="card">
        <div class="row g-0">
            <div class="col-md-5 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image p-5">
                        <th:block th:each="item,i : ${item.getItemImages()}">
                            <img class="rounded rounded-2 border border-dark border-1"
                                 th:src="@{${item != null ? '/image/item/'+ item.getId() : '...'}}">
                        </th:block>
                    </div>

                    <div class="your-class px-2">
                        <th:block th:each="item,i : ${item.getItemImages()}">
                            <div class="m-2 rounded rounded-1">
                                <img class="card-img" th:src="@{${item != null ? '/image/item/'+ item.getId() : '...'}}"
                                     alt="Card image cap"
                                     height="75">

                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="py-1 px-3 right-side">
                    <div class="d-flex justify-content-center align-items-center text-center">
                        <h3 th:text="${item.getName()}"></h3>
                    </div>
                    <div class="content">
                        <p style="max-height: 50%" class="h-25
                        overflow-auto
                        border
                        border-1
                        border-secondary
                        p-1
                        rounded
                        rounded-2" th:text="${item.getDescription()}"></p>
                    </div>
                    <h5 id="contdwn"></h5>
                    <br>

                    <span id="last-offer"></span>

                    <a id="participants-count1-href" href="#"
                       data-bs-toggle="modal"
                       data-bs-target="#participantsModal">

                        <span id="participants-count1">([[${item.getParticipants().size()}]] <i
                                class="fa-regular fa-user"></i>)</span></a>
                    <br>
                    <span th:text="'&#x2022; Minimo entre oferta: $' + ${item.getMinNextOffer()}">-</span>

                    <th:block th:if="${person != null}">
                        <br>
                        <span id="your-offer" th:if="${item.getOfferByPerson(person) != null}"
                              th:text="'&#x2022; Tu oferta: $'+${item.getOfferByPerson(person).getOffer()}">-</span>

                        <span id="your-offer-state"></span>
                    </th:block>
                    <br>
                    <br>
                    <!--Modal del modal de oferta-->
                    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <h2 class="modal-title fs-2" id="alertModalLabel">¡Atención!</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <h4>Tenga en cuenta la responsabilidad que conlleva el proponer una
                                            oferta.<br>Pedimos precaución a la hora de ofertar.</h4>
                                    </div>
                                    <div class="mb-3">
                                        <label><input type="checkbox" id="acceptCheck" value="first_checkbox"> Accepto
                                            la
                                            responsabilidad sobre las ofertas que realice.</label><br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                    </button>
                                    <button type="button" id="acceptTermsBtn" class="btn btn-primary">Acceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Modal de participantes-->
                    <div class="modal fade"
                         id="participantsModal"
                         tabindex="-1"
                         aria-labelledby="participantsModalLabel"
                         aria-hidden="true"
                    >
                        <div
                                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                        >
                            <div class="modal-content shadow-sm">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 m-auto" id="participantsModalLabel">
                                        <b>Participantes</b>
                                    </h1>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table text-center table-striped participants-table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Usuario</th>
                                                <th scope="col">Ofera</th>
                                            </tr>
                                            </thead>
                                            <tbody id="participants-table">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer py-0">
                                    <span id="participants-yourstate" class="position-absolute start-0 ps-2">No participas</span>
                                    <span id="participants-count" class="py-1">[[${item.getParticipants().size()}]] participantes</span>
                                </div>
                                <div class="modal-footer">
                                    <button
                                            type="button"
                                            class="btn btn-secondary m-auto"
                                            data-bs-dismiss="modal"
                                    >
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Modal de oferta-->
                    <div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="offerModalLabel">Oferta</h1>

                                </div>
                                <form id="offerForm" th:action="@{${'/item/'+item.getId()}+'/offer'}" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="offer" class="col-form-label">Ingrese su oferta</label>
                                            <input type="number" class="form-control" id="offer" th:value="${offer}"
                                                   name="offer">
                                        </div>
                                        <!--                                        <div class="mb-3">-->
                                        <!--                                            <label for="password" class="col-form-label">Ingrese su contraseña</label>-->
                                        <!--                                            <input type="password" class="form-control" id="password"-->
                                        <!--                                                   th:value="${password}" name="password">-->
                                        <!--                                        </div>-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                        </button>
                                        <button type="submit" class="btn btn-primary">Enviar oferta</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--                    Modal btn-->
                    <th:block th:if="${item.isEnabled()}">
                    <button th:if="${person != null}" class="btn btn-primary px-4"
                            id="btnOffer">
                        Ofertar
                    </button>
                    <a th:href="@{/login}" th:if="${person == null}">
                        <button class="cart-btn btn btn-primary px-4">
                            Iniciar sesión
                        </button>
                    </a>
                    </th:block>
                    <!--                    <button type="button" class="btn btn-outline-primary btn mt-1" id="btnOffer">Ofertar</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Checkbox -->
<!--    <script>-->
<!--function validate() {-->
<!--        if (document.getElementById('acceptCheck').checked) {-->
<!--            alert("checked");-->
<!--        } else {-->
<!--            alert("You didn't check it! Let me check it for you.");-->
<!--        }-->
<!--    }-->
<!--    </script>-->


<!-- Show alert or Offer Modal Script -->
<script>
    const btnOffer = $("#btnOffer");
    const time = 3600000;

    // JQueryElement[0] OR JQueryElement.get(0) == Dom Element
    if (btnOffer[0] != null) {
        btnOffer[0].addEventListener("click", function () {
            var alertModal = new bootstrap.Modal(
                document.getElementById("alertModal"),
                {
                    keyboard: false,
                }
            );


            var offerModal = new bootstrap.Modal(
                document.getElementById("offerModal"),
                {
                    keyboard: false,
                }
            );

            let hasOpenTerms = false;

            let readTermsTime = parseInt(
                sessionStorage["keibuyReadTermsTime"] || 0
            );
            if (Date.now() > readTermsTime + time) hasOpenTerms = true;

            if (hasOpenTerms) {
                alertModal.show();
            } else {
                offerModal.show();
            }
        });
    }
    const acceptTermsBtn = $("#acceptTermsBtn");
    acceptTermsBtn.prop('disabled', true);
    const acceptTermsCheck = $("#acceptCheck");
    acceptTermsCheck[0].addEventListener("change", function (event) {
        if (this.checked) {
            acceptTermsBtn.prop('disabled', false);
        } else {
            acceptTermsBtn.prop('disabled', true);
        }
    });

    acceptTermsBtn[0].addEventListener("click", function (event) {
        const alertModalDocument = document.querySelector("#alertModal");
        const alertModal = bootstrap.Modal.getInstance(alertModalDocument);

        var offerModal = new bootstrap.Modal(
            document.getElementById("offerModal"),
            {
                backdrop: "static",
                keyboard: false,
            }
        );

        alertModal.hide();
        offerModal.show();

        sessionStorage["keibuyReadTermsTime"] = Date.now();
    });


</script>

<!-- Reloj -->
<script th:inline="javascript">
    function formatTime(ms) {
        const days = Math.floor(ms / (24 * 60 * 60 * 1000));
        const daysms = ms % (24 * 60 * 60 * 1000);
        const hours = Math.floor(daysms / (60 * 60 * 1000));
        const hoursms = ms % (60 * 60 * 1000);
        const minutes = Math.floor(hoursms / (60 * 1000));
        const minutesms = ms % (60 * 1000);
        const sec = Math.floor(minutesms / 1000);


        let daysString = (days < 10 ? '0' : '') + days;
        let hoursString = (hours < 10 ? '0' : '') + hours;
        let minutesString = (minutes < 10 ? '0' : '') + minutes;
        let secondsString = (sec < 10 ? '0' : '') + sec;

        if (days > 0)
            return daysString + "d " + hoursString + "h " + minutesString + "m " + secondsString + "s";
        else if (hours > 0)
            return hoursString + "h " + minutesString + "m " + secondsString + "s";
        else if (minutes > 0)
            return minutesString + "m " + secondsString + "s";
        else
            return secondsString + "s";
    }

    // Set the date we're counting down to
    var countDownDateStart = /*[[${item.getStartDate().getTime()}]]*/ 0;
    var countDownDateFinish = /*[[${item.getFinishDate().getTime()}]]*/ 0;

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var startDistance = countDownDateStart - now;
        var finishDistance = countDownDateFinish - now;

        // Display the result in the element with id="contdwn"
        if (startDistance < 0) {
            if (finishDistance < 0) {
                clearInterval(x);
                document.getElementById("contdwn").innerHTML = "&#x2022; EXPIRED";
            } else {
                document.getElementById("contdwn").innerHTML = "<i class='fa-solid fa-hourglass-start'></i>  Expira en: " + formatTime(finishDistance);
            }
        } else {
            document.getElementById("contdwn").innerHTML = "&#x2022; Inicia en: " + formatTime(startDistance);
        }
    }, 1000);

</script>

<!--Carrusel-->
<script>
    $(document).ready(function () {
        $('.main_image').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            infinite: true,
            asNavFor: '.your-class'
        });
        $('.your-class').slick({
            lazyLoad: 'ondemand',
            autoplay: true,
            autoplaySpeed: 8000,
            speed: 300,
            asNavFor: '.main_image',
            slidesToShow: 4,
            centerMode: true,
            focusOnSelect: true,
            infinite: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: false
                    }
                }
            ]
        });
    });
</script>

<script th:inline="javascript">
    $(document).ready('on', new function () {

        let p = /*[[${person != null ? person.getId() : null}]]*/ null;
        let i = /*[[${item.getId()}]]*/ null;
        console.log('obj i:' + i);
        connect(this, p, i)


        $(offerForm)[0].addEventListener('submit', new function (event) {
            console.log(event);
        });

    });

</script>

<!--Refresh modal participants-->
<script th:inline="javascript">

    function getAvatarURL(personId) {
        let url = /*[[@{'/image/avatar/person/'}]]*/ '';
        url += personId;
        return url;
    }

    let listParticipants = [];
    let objParticipant;
    let myUsername = /*[[${person != null ? person.getUsername() : '-'}]]*/ '-';
    let startPrice = /*[[${item.getStartPrice()}]]*/ '-';
    /*<![CDATA[*/

    /*[# th:each="participant,i : ${item.getParticipants()}"]*/
    objParticipant = {'id': 0, 'username': null, 'offer': 0}
    objParticipant.pos = /*[[${i.getIndex()+1}]]*/ 0;
    objParticipant.id = /*[[${participant.getId()}]]*/ 0;
    objParticipant.username = /*[[${participant.getUsername()}]]*/ null;
    objParticipant.offer = /*[[${item.getOfferByPerson(participant).getOffer()}]]*/ 0;
    listParticipants.push(objParticipant);
    /*[/]*/

    /*]]>*/

    function updatePerson(data) {
        let updated = false;
        for (let i = 0; i < listParticipants.length; i++) {
            let x = listParticipants[i];
            if (x.username === data.username) {
                listParticipants[i].offer = data.offer;
                updated = true;
                break;
            }
        }
        if (!updated) {
            listParticipants.push(data);
        }
    }

    refreshData();

    function refreshData() {

        listParticipants.sort(function (b, a) {
            return parseInt(a.offer) - parseInt(b.offer);
        });

        let yourPosition = -1;
        let mostOffer = {'id': 0, 'username': null, 'offer': 0};
        let participantsTable = $("#participants-table");
        participantsTable.html("");
        for (let i = 0; i < listParticipants.length; i++) {
            let x = listParticipants[i];
            if (x.offer > mostOffer.offer) mostOffer = x;
            if (x.username === myUsername) yourPosition = (i + 1);
            participantsTable.append(
                "<tr id='pos" + (i + 1) + "' class='border border-1 "
                + (yourPosition === (i + 1) ? "border-primary border-2" : "")
                + "'><td class='pt-4 mt-1'><b>" + (i + 1) + "</b></td><td class='pt-2 pb-0'><img src='" + getAvatarURL(x.id)
                + "' class='rounded-circle participants-image' alt=''/><br> <div class='pl-lg-5 pl-md-3 pl-1 participants-name'>" + x.username
                + "</div></td><td class='pt-4 mt-1'>$" + x.offer + "</td></tr>");
        }

        let participantsCount = $("#participants-count");
        participantsCount.html(listParticipants.length + " participantes");

        let participantsCount1 = $("#participants-count1");
        participantsCount1.html(" (" + listParticipants.length + " <i class='fa-regular fa-user'></i>)");

        let lastOffer = $("#last-offer");
        let yourOfferState = $("#your-offer-state");
        let participantsCount1Href = $("#participants-count1-href");
        if (mostOffer.offer !== 0) {
            lastOffer.html("&#x2022; Última oferta: $" + mostOffer.offer);
            participantsCount1Href.removeAttr("hidden");

            if (mostOffer.username === myUsername) {
                yourOfferState.html(" [ Vas ganando! ]");
            } else {
                yourOfferState.html("");
            }
        } else {
            lastOffer.html("&#x2022; Oferta inicial: $" + startPrice);
            participantsCount1Href.setAttribute('hidden', '');
        }

        let participantsYourState = $("#participants-yourstate");
        if (yourPosition !== -1) {
            participantsYourState.html("<a href='#pos" + yourPosition + "'>Tu posición: " + yourPosition + "</a>");
        } else {
            participantsYourState.html("No participas")
        }

    }
</script>

<th:block th:insert="layout/btnBackToTop :: btn"/>
<script th:src="@{/js/scriptBtnBackToTop.js}"></script>
<script th:src="@{/js/scriptLoader.js}"></script>
<th:block th:include="layout/btnLanguage :: btnLang"/>
</body>


</html>