<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <title>Login - KeiBuy</title>
    <th:block th:include="layout/template :: head"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
</head>
<body>
<th:block th:include="layout/template :: dependencies-js"/>
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center mt-5 mb-3 user-select-none">

                    <div th:if="${param.error != null}">
                        <a th:href="@{/login}">
                            <img th:src="@{/images/logoErr.png}" alt="logo" width="150" style="">
                        </a>
                    </div>
                    <div th:if="${param.error == null}">

                        <a th:href="@{/login}">
                            <img th:src="@{/images/logo.png}" alt="logo" width="150" style="">
                        </a>
                    </div>
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5 pb-3">
                        <h1 class="fs-4 card-title fw-bold mb-4" th:text="#{login}"></h1>
                        <form method="POST" th:action="@{/login}">
                            <div th:if="${param.error!=null}">
                                <div class="alert alert-danger" th:if="${errorMessage != null}" >
                                    <span th:text="${errorMessage}"></span>
                                </div>
                            </div>
                            <div class="form-outline mb-3">
                                <input type="text" id="username" class="form-control" th:classappend="${(param.error != null  ? 'is-invalid' : '')}" name="username" required autofocus>
                                <label class="form-label mb-2"
                                       for="username"
                                       style="margin-left: 0;"
                                       th:text="#{username}">Username
                                </label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 88.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <div class="text-end">
                                <a th:href="@{/forgot}" th:text="#{forgot}">
                                    Forgot Password?
                                </a>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="password" class="form-control" th:classappend="${(param.error != null and (!accountNotConfirmed and !usernameNotFound) ? 'is-invalid' : '')}" name="password" required>
                                <label class="form-label mb-2"
                                       for="password"
                                       style="margin-left: 0;"
                                       th:text="#{password}">Password
                                </label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 88.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="form-check-input">
                                    <label for="remember-me" class="form-check-label"  th:text="#{remember-me}">Remember Me</label>
                                </div>
                                <button type="submit" class="btn btn-primary ms-auto" th:text="#{action.login}">
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Don't have an account? <a th:href="@{/register}" class="text-dark">Create One</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Final Project 3BL 2022 &mdash; Team KeiBuy
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="layout/btnLanguage :: btnLang"/>
    <th:block th:insert="layout/btnBackToTop :: btn"/>
</section>
<script th:src="@{/js/scriptLogin.js}"></script>
</body>
</html>
