<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manual - KeiBuy</title>
    <th:block th:include="layout/template :: head" />
    <style th:include="layout/loader :: style"></style>

    <meta charset="UTF-8">

</head>

<body class="position-relative bg-light" data-th-span="scroll" data-bs-target="#navbar-scrollspy">


    <th:block th:include="layout/template :: dependencies-js" />
    <th:block th:include="layout/loader :: loader" />
    <th:block th:include="layout/navbar :: navbar" />

    <!-- Titulo -->
    <div class="container-fluid position-relative">
        <div class="row justify-content-sm-center h-100 m-3">
            <div class="card pt-2 pe-4 ps-4 text-center">
                <div class="card-tittle">
                    <h1>¿Como podemos aydarte?</h1>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-sm-12 p-1">
                                <div class="card p-3">
                                    <div class="card-tittle">
                                        <h3>Publicar una subasta</h3>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <h4 class="text-sm-start">¿Cómo organizo los pagos?</h4>
                                            <p>Los pagos serán, en su totalidad, responsabilidad del ganador y
                                                subastador de cada respectiva subasta, tanto el metodo de pago como el
                                                cumplimiento de éste es totalmente ajeno a KeiBuy</p>
                                        </div>
                                        <div>
                                            <h4 class="text-sm-start">Pregunta número 1</h4>
                                            <p class="text-sm-start">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Eius voluptatem maxime quaerat voluptatibus fugiat, aliquid vel
                                                minus eaque! Quae tempore magnam velit aspernatur fugit veritatis
                                                officiis voluptate eum reprehenderit voluptatibus?</p>
                                        </div>
                                        <div>
                                            <h4 class="text-sm-start">Pregunta número 1</h4>
                                            <p class="text-sm-start">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Eius esse placeat ab, amet voluptatem cum, nihil laborum similique
                                                exercitationem, magni quibusdam inventore rerum laboriosam magnam
                                                explicabo nulla culpa sit doloremque!</p>
                                        </div>
                                        <div>
                                            <h4 class="text-sm-start">Pregunta número 1</h4>
                                            <p class="text-sm-start">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Ut quidem est magni mollitia, nostrum culpa eum molestiae optio
                                                atque possimus nulla autem perferendis ab provident temporibus, ipsum,
                                                quae suscipit quia.</p>
                                        </div>
                                        <div>
                                            <h4 class="text-sm-start">Pregunta número 1</h4>
                                            <p class="text-sm-start">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                elit. Voluptatibus corporis unde ab maxime labore quod dolorum
                                                voluptates quasi excepturi est iusto asperiores ipsum vero dignissimos
                                                aut velit porro, perferendis nihil.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-12 p-1">
                                <div class="card p-3">
                                    <div class="card-tittle">
                                        <h3>Publicar una subasta</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="mt-2">
                                            <h4 class="text-sm-start">Primer paso: Registrate en KeiBuy</h4>
                                            <p>Como en toda web, para hacer una publicacion de cualquier tipo necesitas
                                                tener un usuario. Puedes registrarte en <a th:href="@{/register}"
                                                    target="_blank"
                                                    href="https://www.youtube.com/user/vegetta777/videos?app=desktop">
                                                    aquí</a>.</p>
                                            <img class="img-fluid" th:src="@{/images/registerImg.png}">

                                        </div>
                                        <div class="mt-5">
                                            <h4 class="text-sm-start">Segundo paso: Ingresar al formulario para la nueva
                                                subasta</h4>
                                            <p class="text-sm-start">En la barra superior siempre encontrrás un boton
                                                llamado "Subastar", al clickar en el, te llevará a la creación de una
                                                nueva publicación.</p>
                                            <img class="img-fluid" th:src="@{/images/auctionImg.png}">
                                        </div>
                                        <div class="mt-5">
                                            <h4 class="text-sm-start">Tercer paso: Formulario de la publicación</h4>
                                            <p class="text-sm-start">Una vez en ésta pestña, debe relenar el formulario
                                                con los datos de su subasta.</p>
                                            <img class="img-fluid" th:src="@{/images/auctionExampleImg.png}">
                                            <p class="text-fluid">Al completar el formulario con todo detalle de su
                                                producto deberá presionar acceptar para concluir su publicación.</p>
                                        </div>
                                        <div class="mt-5">
                                            <h4 class="text-sm-start">Cuarto paso: Ver estado de su publicación.</h4>
                                            <p class="text-sm-start">Por ultimo, ver la el estado de su subasta es algo
                                                muy importante. Podrá consultarlo en cualquier momento</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <th:block th:insert="layout/btnBackToTop :: btn"/>
        <script th:src="@{/js/scriptBtnBackToTop.js}"></script>
        <script th:src="@{/js/scriptLoader.js}"></script>
        <!-- Language picker buttom -->
        <th:block th:include="layout/btnLanguage :: btnLang"/>
    </div>




</body>

</html>