<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">




<!-- ---------- Testing dependencies ---------- -->

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<!-- MDB CSS -->
<link rel="stylesheet" href="../../static/plugin/mdb-ui-kit-5.0.0/css/mdb.min.css"/>

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
<!-- -->

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/e106a66f25.js" crossorigin="anonymous"></script>

<!-- MDB JS -->
<script type="text/javascript" src="../../static/plugin/mdb-ui-kit-5.0.0/js/mdb.min.js"></script>

<!-- ------------------------------------------ -->





<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item - KeiBuy</title>
    <th:block th:include="layout/template :: head"/>
    <th:block th:include="layout/template :: dependencies-js"/>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <style th:include="layout/loader :: style"></style>

    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
</head>

<body classname="snippet-body" class="position-relative bg-light" data-th-span="scroll"
      data-bs-target="#navbar-scrollspy">
<th:block th:include="layout/loader :: loader"/>
<th:block th:include="layout/navbar :: navbar"/>
<!--aca arranca el codigo-->

<div class="card">
    <div class="card-body">
        <h3 class="card-tittle">Nueva Subasta</div>

            <form class="lg-10">
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example1" class="form-control" />
                      <label class="form-label" for="form6Example1">First name</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example2" class="form-control" />
                      <label class="form-label" for="form6Example2">Last name</label>
                    </div>
                  </div>
                </div>
              
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example3" class="form-control" />
                  <label class="form-label" for="form6Example3">Company name</label>
                </div>
              
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example4" class="form-control" />
                  <label class="form-label" for="form6Example4">Address</label>
                </div>
              
                <div class="form-outline mb-4">
                  <input type="email" id="form6Example5" class="form-control" />
                  <label class="form-label" for="form6Example5">Email</label>
                </div>
              
                <div class="form-outline mb-4">
                  <input type="number" id="form6Example6" class="form-control" />
                  <label class="form-label" for="form6Example6">Phone</label>
                </div>
              
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                  <label class="form-label" for="form6Example7">Additional information</label>
                </div>
    </div>
</div>





<!--aca aabca el codigo-->
<th:block th:insert="layout/btnBackToTop :: btn"/>
<script th:src="@{/js/scriptBtnBackToTop.js}"></script>
<script th:src="@{/js/scriptLoader.js}"></script>
<th:block th:include="layout/btnLanguage :: btnLang"/>
</body>


</html>