<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="layout/template :: head"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=Roboto+Slab:wght@400&display=swap"
          rel="stylesheet">

    <style>
        .slick-prev:before,
        .slick-next:before {
            color: red !important;
        }

        .wrapper {
            margin: auto;
            width: 75%;
        }

        .pub {
            text-align: center;
        }


        .btn-circle {
            padding: 0 0;
            border-radius: 50%;
            text-align: center;
            line-height: 1.42857;
            border: 0;
        }

        .btn-circle:hover img {
            filter: brightness(65%);
        }


        /*ZoomIn Hover-Mask Effect*/
        .hover-mask button {
            display: block;
            position: relative;
            overflow: hidden;
        }

        .hover-mask img {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        .hover-mask button:hover img {
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hover-mask button h5 {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding: 32% 20px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.4);
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            transition: all 0.5s linear;
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            font-family: 'Roboto Slab', serif;
        }

        .hover-mask button:hover h5 {
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
        }

        .rol {
            position: relative;
            top: -8px;
            font-size: 10px;
        }

    </style>
</head>
<body class="position-relative bg-light" data-th-span="scroll" data-bs-target="#navbar-scrollspy">

<th:block th:include="layout/template :: dependencies-js"/>


<th:block th:include="layout/navbar :: navbar"/>


<!--Modal avatar-->
<div class="modal fade" id="changeAvatarModal" tabindex="-1" aria-labelledby="changeAvatarModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeAvatarModalLabel">Change avatar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto text-center">
                <p id="image-warn-msg" class="text-danger small mb-2">
                </p>
                <img id="frame"
                     th:src="@{${person.getAvatar() != null ? '/image/avatar/'+ person.getAvatar().getId() : (person.getUsername() == 'keibuy' ? '/images/adminAvatar.jpg' : '/images/DefaultAvatar.png')}}"
                     class="rounded-circle border border-secondary" width="150" height="150" alt="avatar"
                     loading="lazy"/>
            </div>
            <div class="modal-footer m-auto">
                <form th:action="@{/profile/changeAvatar}" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <input type="file" class="form-control form-control-sm" name="file"
                               id="formFile" accept="image/*"/>
                        <div class="col-12 text-center pt-3">
                            <button id="submitAvatar" type="submit" class="btn btn-outline-primary rounded-0 btn-sm"
                                    style="display: none">
                                <i class="fas fa-check"></i> Aplicar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Edit Profile Modal-->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="changeAvatarModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Change avatar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto text-center">

            </div>
            <div class="modal-footer m-auto">
                <form th:action="@{/profile}" method="post" th:object="${personDto}" enctype="multipart/form-data">
                    <div class="form-group row">
                        <input type="hidden" name="id" th:field="*{id}"/>
                        <input type="hidden" name="accountVerified" th:field="*{accountVerified}"/>
                        <input type="hidden" name="birthDate" th:field="*{birthDate}"/>
                        <input type="hidden" name="email" th:field="*{email}"/>
                        <input type="hidden" name="lastName" th:field="*{lastName}"/>
                        <input type="hidden" name="name" th:field="*{name}"/>
                        <input type="hidden" name="password" th:field="*{password}"/>
                        <input type="hidden" name="phone" th:field="*{phone}"/>
                        <input type="hidden" name="username" th:field="*{username}"/>
                        <hr>
                        <input type="file" class="form-control form-control-sm" name="avatar" th:field="*{avatar}" accept="image/*"/>
                        <div class="col-12 text-center pt-3">
                            <hr>
                            <button id="submitProfile" type="submit" class="btn btn-outline-primary rounded-0 btn-sm"
                                    style="display: none">
                                <i class="fas fa-check"></i> Aplicar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---->

<!-- Edit Info Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editInfoModalLabel">Change avatar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto text-center">

            </div>
            <div class="modal-footer m-auto">
                <form th:action="@{/profile}" method="post" th:object="${personDto}" enctype="multipart/form-data">
                    <div class="form-group row">
                        <div class="card-header">
                            <!--                                    <h4>[[#{accion.editar}]]</h4>-->
                            <h4>Editar</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">username</label>
                                <input type="email" class="form-control" name="username"
                                       required="true" th:field="*{username}"/>
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name"
                                       required="true" th:field="*{name}"/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">lastName</label>
                                <input type="text" class="form-control" name="lastName"
                                       required="true" th:field="*{lastName}"/>
                            </div>
                            <div class="form-group">
                                <label for="birthDate">Birth Date</label>
                                <input type="birthDate" class="form-control" name="birthDate"
                                       required="true" th:field="*{birthDate}"/>
                            </div>
                            <div class="form-group">
                                <label for="email">email</label>
                                <input type="email" class="form-control" name="email"
                                       required="true" th:field="*{email}"/>
                            </div>
                            <div class="form-group">
                                <label for="telephone">telephone</label>
                                <input type="telephone" class="form-control" name="phone"
                                       required="true" th:field="*{phone}"/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="avatar" th:field="*{avatar}" accept="image/*"/>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-success btn-block">
                                    <i class="fas fa-check"></i> Save
                                </button>
                            </div>
                        </div>
                        <div class="col-12 text-center pt-3">
                            <button id="submitInfo" type="submit" class="btn btn-outline-primary rounded-0 btn-sm"
                                    style="display: none">
                                <i class="fas fa-check"></i> Aplicar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    $('#formFile').on("change", function (e) {
        const submitAvatar = document.getElementById('submitAvatar');
        const imageWarnMsg = document.getElementById('image-warn-msg');
        const frame = document.getElementById('frame');
        const fileInput = document.getElementById('formFile');
        let filePath = fileInput.value;
        // Allowing file type
        let allowedExtensions = /(\.png|\.jpg|\.jpeg|\.gif)$/i;
        if (!allowedExtensions.exec(filePath)) {
            if(filePath.length > 0) {
                imageWarnMsg.innerText = "Formato de imágen inválido..."
            } else {
                imageWarnMsg.innerText = ""
            }
            fileInput.value = '';
            frame.src = /*[[@{${person.getAvatar() != null ? '/image/avatar/'+ person.getAvatar().getId() : '/images/DefaultAvatar.png'}}]]*/ null;
            submitAvatar.style.display = "none";
        } else {
            frame.src = URL.createObjectURL(event.target.files[0]);
            submitAvatar.style.display = "inline";
        }
    });

    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
</script>
<!---->

<!--Profile-->
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center hover-mask">
                            <th:block th:if="${person != null}">
                                <!--                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"-->
                                <!--                                         alt="" loading="lazy" />-->
                                <button class="btn btn-circle" data-bs-toggle="modal"
                                        data-bs-target="#changeAvatarModal">
                                    <img th:src="@{${person.getAvatar() != null ? '/image/avatar/'+ person.getAvatar().getId() : (person.getUsername() == 'keibuy' ? '/images/adminAvatar.jpg' : '/images/DefaultAvatar.png')}}"
                                         class="rounded-circle border border-secondary" width="150" height="150"
                                         alt="avatar" loading="lazy"/>
                                    <h5 class="text-white">Change avatar</h5>
                                </button>
                            </th:block>
                            <!--                            <img th:src="@{/assets/{path} (path=${person.getAvatarPath()})}" class="rounded-circle" alt="Admin" width="150">-->
                            <div class="mt-3">
                                <h4 th:text="${person != null ? person.getUsername() : 'Username'}"></h4>
                                <small class="badge text-danger border rounded-1 rol">Rol1</small>
                                <small class="badge text-secondary border rounded-1 rol">Rol2</small>
                                <small class="badge text-warning border rounded-1 rol">Rol3</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">

                        <!-- Edit Info Modal Button-->

                            <i class="fa-regular fa-pen-to-square position-absolute top-0 end-0 m-2 btn btn-circle" data-bs-toggle="modal" data-bs-target="#editInfoModal"></i>


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{name}">Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p th:text="${person.getName()}">name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{last-name}">Lastname</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p th:text="${person.getLastName()}">last name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{birth-date}">Birth Date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p th:text="${#dates.format(person.getBirthDate(), 'dd-MM-yyyy')}">birth date</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{email}">E-Mail Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p th:text="${person.getEmail()}">email@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{telephone}">Telephone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p th:text="${person.getPhone()}">telephone</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ubicacion</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Uruguay
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank" href="#">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<th:block th:include="layout/btnLanguage :: btnLang"/>
<th:block th:insert="layout/btnBackToTop :: btn"/>

<script th:src="@{/js/scriptBtnBackToTop.js}"></script>
</body>
</html>