<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Register - KeiBuy</title>
    <th:block th:include="layout/template :: head"/>
    <link rel="stylesheet" type="text/css" th:href="@{plugin/intl-tel-input-17.0.19/css/intlTelInput.css}"/>
    <style>
        .iti { width: 100%; }


    </style>

</head>
<body>
<script th:src="@{plugin/intl-tel-input-17.0.19/js/intlTelInput.min.js}"></script>

<th:block th:include="layout/template :: dependencies-js"/>

<!-- Modal Terms And Conditions-->
<div class="modal fade" id="termsAndConditions100real" tabindex="-1" role="dialog" aria-labelledby="termsAndConditions100realLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    <video id="rrvideo" loop class="embed-responsive-item">
                        <source th:src="@{/videos/rr.mp4}" type=video/mp4>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var video = document.getElementById("rrvideo");
    var myModalEl = document.getElementById("termsAndConditions100real");

    myModalEl.addEventListener('shown.bs.modal', function (event) {
        video.currentTime = 0;
        video.play();
    })

    myModalEl.addEventListener('hidden.bs.modal', function (event) {
        video.pause();
    })

</script>

<section class="vh-100">

    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center mt-5 mb-3">
                    <img th:src="@{/images/logo.png}" alt="logo" width="150">
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4" th:text="#{register}"></h1>
                        <form onsubmit="onSubmitRegister()" id="register-form" class="needs-validation" th:action="@{/register}" th:object="${personDto}" method="post">

                            <div class="mb-3 form-group">
                                <label class="mb-2 text-muted" for="username" th:text="#{username}"></label>
                                <input id="username" type="text" class="form-control" th:field="*{username}" required autofocus>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name" th:text="#{name}">Name</label>
                                <input id="name" type="text" class="form-control"  th:field="*{name}" value="" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="last-name" th:text="#{last-name}">Last Name</label>
                                <input id="last-name" type="text" class="form-control"  th:field="*{lastName}" value="" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="birth-date" th:text="#{birth-date}">Birth Date</label>
                                <input id="birth-date" type="date" class="form-control"  th:field="*{birthDate}" value="" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></small>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email" th:text="#{email}">E-Mail Address</label>
                                <input id="email" type="email" class="form-control"  th:field="*{email}" value="" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="country" th:text="#{country}">Country</label>
                                <select id="country" type="text" class="form-control"  th:field="*{country}" required></select>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></small>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="telephone" th:text="#{telephone}" >Telephone</label>
                                <input id="telephone" type="tel" class="form-control"  th:field="*{phone}" required>
                                <small id="telephone-warn-msg" class="form-text text-danger"></small>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password" th:href="#{password}" th:text="#{password}">Password</label>
                                <input id="password" type="password" class="form-control"  th:field="*{password}" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                            </div>

                            <p class="form-text text-muted mb-3" th:text="#{terms-and-conditions}">
                                <a type="button" class="" data-mdb-toggle="modal" data-mdb-target="#termsAndConditions100real">By registering you agree with our terms and condition</a>.
                            </p>



                            <div class="align-items-center d-flex">
                                <button type="submit" class="btn btn-primary ms-auto" th:text="#{register}">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            [[#{already-account}]] <a th:href="@{/login}" class="text-dark">[[#{login}]]</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Final Project 3BL 2022 &mdash; Team KeiBuy
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("birth-date").setAttribute("max", today);
</script>


<script>
    (() => {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
            window.addEventListener('load', () => {
                let smallList = form.getElementsByTagName('small');
                for(let small of smallList) {
                    if(small.innerText.length > 0) {
                        let parent = small.parentElement;
                        let inputList = parent.getElementsByTagName("input");
                        if(inputList.length > 0) {
                            let input = inputList[0];
                            input.classList.add('is-invalid');
                            input.classList.add('mb-0');
                        }
                        let labelList = parent.getElementsByTagName("label");
                        if(labelList.length > 0) {
                            let label = labelList[0];
                            label.classList.remove('text-muted');
                            label.classList.add('text-danger');
                        }
                    }
                }
            }, false);
        });
    })();
</script>

<th:block th:include="layout/btnLanguage :: btnLang"/>
<th:block th:insert="layout/btnBackToTop :: btn"/>

<script th:src="@{/js/scriptLogin.js}"></script>
<script th:src="@{/js/scriptRegisterPhone.js}"></script>
</body>
</html>
