<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register - Mondongo</title>
    <th:block th:include="layout/template :: head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/api/intl-tel-input-17.0.18/css/intlTelInput.css}"/>
    <script th:src="@{/api/intl-tel-input-17.0.18/js/intlTelInput.min.js}"></script>
</head>
<body>

<!-- Modal Terms And Conditions-->
<div class="modal fade" id="termsAndConditions100real" tabindex="-1" role="dialog" aria-labelledby="termsAndConditions100realLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    <video id="rrvideo" loop class="embed-responsive-item">
                        <source th:src="@{/images/rr.mp4}" type=video/mp4>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var video = document.getElementById("rrvideo");
    var myModalEl = document.getElementById("termsAndConditions100real");

    myModalEl.addEventListener('shown.bs.modal', function (event) {
        video.currentTime = 0;
        video.play();
    })

    myModalEl.addEventListener('hidden.bs.modal', function (event) {
        video.pause();
    })

</script>

<section class="h-100">

    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center mt-5 mb-3">
                    <img th:src="@{/images/logo2.png}" alt="logo" width="100">
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4" th:text="#{register}"></h1>
                        <form id="form1" method="POST" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="username" th:text="#{username}"></label>
                                <input id="username" type="text" class="form-control" name="username" value="" required autofocus>
                                <div class="invalid-feedback" th:text="#{error.username-required}">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Name</label>
                                <input id="name" type="text" class="form-control" name="name" value="" required>
                                <div class="invalid-feedback">
                                    Name is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="last-name">Last Name</label>
                                <input id="last-name" type="text" class="form-control" name="last-name" value="" required>
                                <div class="invalid-feedback">
                                    Last Name is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="birth-date">Birth Date</label>
                                <input id="birth-date" type="date" class="form-control" name="birth-date" value="" required>
                                <div class="invalid-feedback">
                                    Birth Date is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required>
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

<!--                            Telephone-->
<!--                            <div class="mb-3">-->
<!--                                <label class="mb-2 text-muted" for="telephone">Telephone</label>-->
<!--                                <input id="telephone" type="email" class="form-control" name="telephone" value="" required>-->
<!--                                <div class="invalid-feedback">-->
<!--                                    Telephone is invalid-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="telephone">Telephone</label>
                                <input id="telephone" type="tel" class="form-control" name="telephone" style=".input-group .form-control, .intl-tel-input { width: 100%; }" required>
                                <div id="telephone-warn-msg" class="text-danger small">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password">Password</label>
                                <input id="password" type="password" class="form-control" name="password" required>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <p class="form-text text-muted mb-3">
                                By registering you agree with our <a type="button" class="" data-bs-toggle="modal" data-bs-target="#termsAndConditions100real">terms and condition</a>.
                            </p>



                            <div class="align-items-center d-flex">
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Already have an account? <a th:href="@{/login}" class="text-dark">Login</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 666AC - 2069 &mdash; Mondongo Company
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="layout/template :: language-bottom"/>
</section>
<script th:src="@{/js/scriptLogin.js}"></script>
<script th:src="@{/js/scriptRegisterPhone.js}"></script>
</body>
</html>
