*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.loader-container img {
    width: 1.2rem;
    opacity: 30%;
    animation-delay: 3s;
    animation: move 3s;
    animation-iteration-count: infinite;
}

.loader-container {
    background-color: #f3f3f3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: opacity, visibility;
    transition-duration: .7s;
    transition-timing-function: ease-out;
}

@keyframes move {
    0% {
        opacity: 30%;
        width: 12rem;
    }
    50% {
        width: 16rem;
        opacity: 100%;
    }
    100% {
        opacity: 30%;
        width: 12rem;
    }
}