<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="layout/template :: head"/>

    <style th:include="layout/loader :: style"></style>

    <style>
        .slick-prev:before,
        .slick-next:before {
            color: red !important;
        }

        .wrapper {
            margin-right: 3rem;
            margin-left: 3rem;
        }

        .wrapper2 {
            max-width: 300rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    </style>
</head>
<body class="position-relative bg-light" data-th-span="scroll" data-bs-target="#navbar-scrollspy">

<th:block th:include="layout/template :: dependencies-js"/>
<th:block th:include="layout/loader :: loader"/>
<th:block th:include="layout/navbar :: navbar"/>


<!--Trend-->
<div class="wrapper2">
    <div class="single-item">
        <div>
            <div class="card m-auto" style="max-width: 300rem">
                <img class="card-img-top"
                     src="https://static-cdn.jtvnw.net/jtv_user_pictures/vegetta777-profile_banner-49a223dd6ab53aaf-480.jpeg"
                     alt="Card image cap">
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 300rem">
                <img class="card-img-top"
                     src="https://static-cdn.jtvnw.net/jtv_user_pictures/vegetta777-profile_banner-49a223dd6ab53aaf-480.jpeg"
                     alt="Card image cap">
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 300rem">
                <img class="card-img-top"
                     src="https://static-cdn.jtvnw.net/jtv_user_pictures/vegetta777-profile_banner-49a223dd6ab53aaf-480.jpeg"
                     alt="Card image cap">
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 300rem">
                <img class="card-img-top"
                     src="https://static-cdn.jtvnw.net/jtv_user_pictures/vegetta777-profile_banner-49a223dd6ab53aaf-480.jpeg"
                     alt="Card image cap">
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 300rem">
                <img class="card-img-top"
                     src="https://static-cdn.jtvnw.net/jtv_user_pictures/vegetta777-profile_banner-49a223dd6ab53aaf-480.jpeg"
                     alt="Card image cap">
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 300rem">
                <img class="card-img-top"
                     src="https://static-cdn.jtvnw.net/jtv_user_pictures/vegetta777-profile_banner-49a223dd6ab53aaf-480.jpeg"
                     alt="Card image cap">
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 300rem">
                <img class="card-img-top"
                     src="https://static-cdn.jtvnw.net/jtv_user_pictures/vegetta777-profile_banner-49a223dd6ab53aaf-480.jpeg"
                     alt="Card image cap">
            </div>
        </div>
    </div>
</div>


<!--Sección1-->
<div class="wrapper">
    <h4>Por cantidad de pujas</h4>
    <div class="your-class">
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Sección2-->
<div class="wrapper">
    <h4>Por cantidad pujada</h4>
    <div class="your-class">
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sección3-->
<div class="wrapper">
    <h4>Mas visitadas</h4>
    <div class="your-class">
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div>
            <div class="card m-auto" style="max-width: 15rem">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="text-center mt-5 text-muted">
        Copyright &copy; 666AC - 2069 &mdash; Mondongo Company
    </div>
</div>


<!--░░░░▄▄▄▄▀▀▀▀▀▀▀▀▄▄▄▄▄▄-->
<!--░░░░█░░░░▒▒▒▒▒▒▒▒▒▒▒▒░░▀▀▄-->
<!--░░░█░░░▒▒▒▒▒▒░░░░░░░░▒▒▒░░█-->
<!--░░█░░░░░░▄██▀▄▄░░░░░▄▄▄░░░█-->
<!--░▀▒▄▄▄▒░█▀▀▀▀▄▄█░░░██▄▄█░░░█-->
<!--█▒█▒▄░▀▄▄▄▀░░░░░░░░█░░░▒▒▒▒▒█-->
<!--█▒█░█▀▄▄░░░░░█▀░░░░▀▄░░▄▀▀▀▄▒█-->
<!--░█▀▄░█▄░█▀▄▄░▀░▀▀░▄▄▀░░░░█░░█-->
<!--░░█░░▀▄▀█▄▄░█▀▀▀▄▄▄▄▀▀█▀██░█-->
<!--░░░█░░██░░▀█▄▄▄█▄▄█▄████░█-->
<!--░░░░█░░░▀▀▄░█░░░█░███████░█-->
<!--░░░░░▀▄░░░▀▀▄▄▄█▄█▄█▄█▄▀░░█-->
<!--░░░░░░░▀▄▄░▒▒▒▒░░░░░░░░░░█-->
<!--░░░░░░░░░░▀▀▄▄░▒▒▒▒▒▒▒▒▒▒░█-->
<!--░░░░░░░░░░░░░░▀▄▄▄▄▄░░░░░█-->


<!--Carrusel-->
<script>
    $(document).ready(function () {
        $('.single-item').slick({
            arrows: false,
            autoplay: true,
            autoplaySpeed: 2500,
            dots: true,
        })


        $('.your-class').slick({
            swipeToSlide: true,
            autoplay: true,
            autoplaySpeed: 8000,
            arrows: false,
            dots: false,
            centerMode: false,
            infinite: false,
            speed: 300,
            slidesToShow: 7,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1500,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 1,
                        infinite: false,
                        dots: false,
                    }
                },
                {
                    breakpoint: 1300,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        infinite: false,
                        dots: false,
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: false,
                        dots: false,
                    }
                },
                {
                    breakpoint: 835,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        dots: false,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false,
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
</script>

<script th:src="@{/js/scriptLoader.js}"></script>

<!-- Language picker buttom -->
<th:block th:include="layout/btnLanguage :: btnLang"/>


<th:block th:insert="layout/btnBackToTop :: btn"/>

</body>
</html>